name: CI/CD Pipeline - Medplus App

on:
  push:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, Tag, and Push Docker Image
      run: |
        IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/mediplus:latest
        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI

          - name: Deploy to EC2 via SSH
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
        run: |
          echo "${{ secrets.SSH_KEY }}" > cloud-key.pem
          chmod 600 cloud-key.pem

          ssh -o StrictHostKeyChecking=no -i cloud-key.pem ubuntu@$EC2_HOST << 'EOF'
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 780139020397.dkr.ecr.us-east-1.amazonaws.com

            docker pull 780139020397.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2
            docker stop mediplus || true
            docker rm mediplus || true

            docker run -d -p 80:80 --name mediplus 780139020397.dkr.ecr.us-east-1.amazonaws.com/mediplus:v2
          EOF
